@import './sass/index';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: $color-primary;
	font-family: $font-default;
	font-weight: 700;
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	gap: 5vh;
}
