@import '../../sass/index.scss';

.container {
	@include app-width;
	@include border-default(none);

	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	margin: 10px;
	background: $color-quaternary;
}

.tiles {
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fit, 150px);
	gap: 10px;
	margin: 10px 0;
}

@media screen and (max-width: $tablet-query-width) {
	.tiles {
		grid-template-columns: repeat(auto-fit, $tablet-width-value);
	}
}

@media screen and (max-width: $mobile-query-width) {
	.container {
		width: 90vw;
		padding: 10px;
	}
	.tiles {
		grid-template-columns: repeat(auto-fit, $mobile-width-value);
	}
}

@media screen and (max-width: $small-mobile-query-width) {
	.tiles {
		grid-template-columns: repeat(auto-fit, $small-mobile-width-value);
	}
}
