@import '../../sass/index.scss';
@import '../../sass/mixins.scss';

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
}

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
	text-align: center;
}

.scores {
	@include app-width;
	@include border-default(none);

	composes: flex-column;

	justify-content: space-around;
	gap: 1vh;
	min-height: 200px;
	background: $color-quaternary;
	padding: 25px 0;
}
