@import '../../sass/index.scss';
@import '../../sass/mixins.scss';

.button {
	@include border-default(none);
	width: 75px;
	height: 30px;
	font-family: $font-default;
	font-size: 16px;
	font-weight: 700;
	background: $color-primary;
	color: $color-tertiary;
}

.button:hover {
	cursor: pointer;
	background-color: $color-tertiary;
	color: $color-primary;
}

.disabled {
	pointer-events: none;
	opacity: 0.5;
}
