@mixin border-default($color: #000000, $radius: 3px) {
	border: 1px solid $color;
	border-radius: $radius;

	@if ($color == none) {
		border: none;
	}
}

@mixin app-width {
	width: 75vw;
	max-width: 750px;
}
