// Color
$color-primary: #00ffff;
$color-secondary: #8e6fa5;
$color-tertiary: #4b0082;
$color-quaternary: #049c9c;
$color-border-success: #0bcf0b;
$color-danger: #ff0000;
$color-default: #000000;

// Border
$border-default: 1px solid $color-default;

// Font
$font-default: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
	'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

$mobile-font-size: 16px;

// Media query max-widths
$tablet-query-width: 768px;
$mobile-query-width: 540px;
$small-mobile-query-width: 320px;

// Media query width values
$tablet-width-value: 100px;
$mobile-width-value: 85px;
$small-mobile-width-value: 75px;
