// Color
$color-primary: #00ffff;
$color-secondary: #8e6fa5;
$color-tertiary: #4b0082;
$color-quaternary: #049c9c;
$color-border-success: #0bcf0b;
$color-border-danger: #ff0000;

// Border
$border-default: 1px solid #000000;

// Font
$font-default: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
	'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
