@import '../../sass/index';
@import '../../sass/mixins';

.flex-column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2vh;
	text-align: center;
}

.container {
	@include app-width;
	@include border-default(none);

	composes: flex-column;

	justify-content: space-around;
	gap: 1vh;
	min-height: 200px;
	background: $color-quaternary;
	padding: 25px 0;
}

.form {
	@include border-default(none);

	composes: flex-column;
}

.button {
	@include border-default(none);

	background: $color-secondary;
	color: $color-tertiary;

	&:hover {
		background: $color-tertiary;
		color: $color-secondary;
	}
}

.inputContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.input {
	composes: container from '../ImageSelect/ImageSelect.module.scss';
}

.name {
	composes: select from '../ImageSelect/ImageSelect.module.scss';
}

.error {
	@include border-default(none);

	background: $color-primary;
	color: $color-danger;
	font-size: 0.75rem;
	font-weight: lighter;
	padding: 3px;
	width: fit-content;
}
