@import '../../sass/index.scss';

.container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: center;
	padding: 12px 24px;
	width: 100%;
	background: $color-secondary;

	h1 {
		color: $color-primary;
	}
}

@media screen and (max-width: $mobile-query-width) {
	.container {
		gap: 24px;
		padding: 12px;

		h1 {
			font-size: 24px;
		}
	}
}

@media screen and (max-width: $small-mobile-query-width) {
	.container {
		justify-content: center;
	}
}
