@import '../../sass/index';

.content {
	cursor: pointer;
}

.content > img,
.content > i {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	border: 2px solid $color-tertiary;
	border-radius: 6px;
}

.content > i {
	background: $color-secondary;
	color: $color-tertiary;
}

.isDisabled {
	pointer-events: none;
	user-select: none;
}

.isMatched > img {
	outline: 5px solid $color-border-success;
	border: none;
	border-radius: 50%;
	cursor: not-allowed;
	pointer-events: all;
	animation: image-match 0.2s linear 0s 1 normal;
}

.isNotMatched > img {
	outline: 5px solid $color-border-danger;
	border: none;
}

.isNotActive {
	cursor: default;
}

@keyframes image-match {
	from {
		border: 2px solid $color-tertiary;
		border-radius: 6px;
	}
	to {
		border: 5px solid $color-border-success;
		border-radius: 50%;
	}
}
