.content {
	cursor: pointer;
}

.content > img,
.content > i {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 150px;
	border: 3px solid indigo;
	border-radius: 6px;
}

.content > i {
	background: #8e6fa5;
	color: indigo;
}

.isDisabled {
	pointer-events: none;
	user-select: none;
}

.isMatched > img {
	border: 3px solid rgb(11, 207, 11);
	border-radius: 50%;
	cursor: not-allowed;
	pointer-events: all;
	animation: image-match 0.2s linear 0s 1 normal;
}

.isNotMatched > img {
	border: 3px solid red;
	animation: shake 0.1s linear 0s 1 normal;
}

@keyframes image-match {
	from {
		border: 3px solid indigo;
		border-radius: 6px;
	}
	to {
		border: 3px solid rgb(11, 207, 11);
		border-radius: 50%;
	}
}

@keyframes shake {
	from {
		transform: rotate(0.01turn);
	}
	50% {
		transform: rotate(0turn);
	}
	75% {
		transform: rotate(-0.01turn);
	}
	to {
		transform: rotate(0turn);
	}
}
